<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人修改</title>
</head>
<body>
    <a href="AddBranch"><button>添加店面</button></a>
    <form method="post">
        {%csrf_token%}
        机构名称:<input type="text" name="name" value={{ name }}><br>
        省:<input type="text" name="branch_province" value={{ branch_province }}><br>
        市:<input type="text" name="branch_city" value={{ branch_city }}><br>
        区、县:<input type="text" name="branch_distinct" value={{ branch_distinct }}><br>
        地址:<input type="text" name="Address" value={{ Address }}><br>
        课程方向:<input type="text" name="LDirection" value={{ LDirection }}><br>
        适合年龄:<input type="text" name="Fitage" value={{ Fitage }}><br>
        联系电话:<input type="text" name="PhoneNumber" value={{ PhoneNumber }}><br>
        简介:<input type="text" name="Brief" value="{{ Brief }}"><br>
        <input type="submit" value="修改">
    </form>
    <a href="./"><button>返回</button></a>
</body>
</html>