<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="AddCourse"><button>添加课程</button></a><br>
    <form method="post">
        {%csrf_token%}
        要删除的课程ID: <input type="text" name="course_id" value=""><br>
        <input type="submit" name="delete" value = "删除"><br>
    </form>
    <form method="post">
        {%csrf_token%}
        要修改的课程ID:<input type="text" name="id"><br>
        <input type="submit" name="update" value = "删除">
    </form>
    <a href = "./"><button>返回</button></a>
    <table border="1">
        <tr>
            <th>&nbsp;&nbsp;课程id&nbsp;&nbsp;</th>
            <th>&nbsp;&nbsp;&nbsp;课程名称&nbsp;&nbsp;&nbsp;</th>
            <th>首次上课时间</th>
            <th>课堂地点</th>
            <th>课程长度</th>
        </tr>
        {% for c in courses %}
            <tr>
                <th>{{ c.0.id }}</th>
                <th>{{ c.0.course_name }}</th>
                <th>{{ c.0.course_time }}</th>
                <th>{{ c.1 }}{{ c.2 }}{{ c.3 }}{{ c.0.course_location }}</th>
                <th>{{ c.0.course_duration_of_week }}周</th>
            </tr>
        {% endfor %}
    </table>
</body>
</html>