{% load static %}
<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="{% static "assets/css/animate.min.css" %}">
        <!-- IcoFont CSS -->
        <link rel="stylesheet" href="{% static "assets/css/icofont.min.css" %}">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{% static "assets/css/owl.carousel.min.css" %}">
        <!-- Owl Theme Default CSS -->
        <link rel="stylesheet" href="{% static "assets/css/owl.theme.default.min.css" %}">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{% static "assets/css/magnific-popup.css" %}">
        <!-- Main CSS -->
        <link rel="stylesheet" href="{% static "assets/css/main.css" %}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static "assets/css/responsive.css" %}">
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static "assets/img/favicon.png" %}">
        
        <title>EduSplash - Education Responsive HTML Template</title>
    </head>

    <body>
        <!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <!-- End Preloader -->

        <!-- 404 Error -->
        <div class="error-section">
            <div class="d-table">
                <div class="d-tablecell">
                    <h1>404!</h1>
                    <h3>Oops! Page Not Found</h3>
                    <p>The page you were looking for could not be found.</p>
                    <a href="index.html" class="back-button">Return Home page</a>
                </div>
            </div>
        </div>
        <!-- End 404 Error -->
    
       
       
        <!-- JQuery Min JS -->
        <script src="{% static "assets/js/jquery.1.12.4.min.js" %}"></script>
        <!-- Popper Min JS -->
        <script src="{% static "assets/js/popper.min.js"%}"></script>
        <!-- Bootstrap Min JS -->
        <script src="{% static "assets/js/bootstrap.min.js"%}"></script>
        <!-- Owl Carousel JS -->
        <script src="{% static "assets/js/owl.carousel.min.js" %}"></script>
        <!-- Magnific Popup JS -->
        <script src="{% static "assets/js/jquery.magnific-popup.min.js" %}"></script>
        <!-- WayPonits JS -->
        <script src="{% static "assets/js/waypoints.js" %}"></script>
        <!-- CounterUp JS -->
        <script src="{% static "assets/js/jquery.counterup.min.js" %}"></script>
		<!-- Tilt JS -->
        <script src="{% static "assets/js/tilt.jquery.min.js" %}"></script>
        <!-- Form Validator JS FILES -->
        <script src="{% static "assets/js/form-validator.min.js" %}"></script>
        <!-- Contact Form JS -->
        <script src="{% static "assets/js/contact-form-script.js" %}"></script>
        <!-- Script JS -->
        <script src="{% static "assets/js/script.js" %}"></script>
    </body>
</html>