<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>网站主页</title>
</head>
<body>
    	<h1 style="text-align:center;">Welcome to Our Website!</h1>
	<a href="/News" style='float:right;text-align: right;text-decoration:none;'>>>More News</a><br></br><br></br>
	<a href="/Videos" style='float:right;text-align: right;text-decoration:none;'>>>More Videos</a><br></br><br></br>
	<a href="/Ins" style='float:right;text-align: right;text-decoration:none;'>>>More EducationInstitutions</a><br></br><br></br>
	<a href="/Tea/" style='float:right;text-align: right;text-decoration:none;'>>>More Teachers</a><br></br><br></br>
	<a href="/course/" style='float:right;text-align: right;text-decoration:none;'>>>More Course</a>
</body>
</html>
