{% load static %}





<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="{% static "assets/css/animate.min.css" %}">
        <!-- IcoFont CSS -->
        <link rel="stylesheet" href="{% static "assets/css/icofont.min.css" %}">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{% static "assets/css/owl.carousel.min.css" %}">
        <!-- Owl Theme Default CSS -->
        <link rel="stylesheet" href="{% static "assets/css/owl.theme.default.min.css" %}">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{% static "assets/css/magnific-popup.css" %}">
        <!-- Main CSS -->
        <link rel="stylesheet" href="{% static "assets/css/main.css" %}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static "assets/css/responsive.css" %}">
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static "/static/assets/img/favicon.png" %}">
        
        <title>EduSplash - Education Responsive HTML Template</title>
    </head>

    <div class="to_fill" id="to_fill">


    </div>


    <script id="my-template" type="text/x-custom-template">
    <div class="xxx">
        <div class="yyy">%TEACHER%</div>
        <div class="zzz">%value%</div>
    </div>
</script>

    <body>

          <!-- JQuery Min JS -->
        <script src="{% static "assets/js/jquery.1.12.4.min.js" %}"></script>
        <!-- Popper Min JS -->
        <script src="{% static "assets/js/popper.min.js"%}"></script>
        <!-- Bootstrap Min JS -->
        <script src="{% static "assets/js/bootstrap.min.js"%}"></script>
        <!-- Owl Carousel JS -->
        <script src="{% static "assets/js/owl.carousel.min.js" %}"></script>
        <!-- Magnific Popup JS -->
        <script src="{% static "assets/js/jquery.magnific-popup.min.js" %}"></script>
        <!-- WayPonits JS -->
        <script src="{% static "assets/js/waypoints.js" %}"></script>
        <!-- CounterUp JS -->
        <script src="{% static "assets/js/jquery.counterup.min.js" %}"></script>
		<!-- Tilt JS -->
        <script src="{% static "assets/js/tilt.jquery.min.js" %}"></script>
        <!-- Form Validator JS FILES -->
        <script src="{% static "assets/js/form-validator.min.js" %}"></script>
        <!-- Contact Form JS -->
        <script src="{% static "assets/js/contact-form-script.js" %}"></script>
        <!-- Script JS -->
        <script src="{% static "assets/js/script.js" %}"></script>

        <script>$(function(){
            $.get('getinfo',function (json) {
                console.log(json)
                var techer =  document.getElementById("my-template").innerHTML;
                var html = techer.replace(/%TEACHER%/, json['Teacher']);
                console.log(html)
                document.getElementById('to_fill').innerHTML = html;
            })

            {#var template = document.getElementById("res").innerHTML;#}
            {#var html = template#}
            {#.replace(/%name%/, data['name'])#}
            {#.replace(/%value%/, data['value']);#}
        });

        </script>

    </body>
</html>