<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>个人教师注册</title>
</head>
<body>
    <h1>个人教师注册</h1>
    <form action="/Teareg/" method="post">{% csrf_token %}
        <p>
            <label for="id_username">用户名：</label>
            <input type="text" id="id_username" name="username" placeholder="用户名" autofocus required />
        </p>
        <p>
            <label for="id_password">密码  ：</label>
            <input type="password" id="id_password" placeholder="密码" name="password" required >
        </p>
        <p>
                <label for="name">姓名：</label>
                <input type="text" id="name"  name="name" required >
        </p>
        <p>
                <label for="id_num">身份证号：</label>
                <input type="text" id="id_num"  name="id_num" required >
        </p>
        <p>
                <label for="age">年龄：</label>
                <input type="number" id="age"  name="age" required >
        </p>
        <p>
                <label for="gender">性别（男/女）：</label>
                <input type="text" id="gender"  name="gender" required >
        </p>
        <p>
                <label for="LDirection">教育领域：</label>
                <input type="text" id="LDirection"  name="LDirection" required >
        </p>
        <p>
                <label for="Fitage">教育适合年龄：</label>
                <input type="text" id="Fitage"  name="Fitage" required >
        </p>
        <p>
                <label for="Limyear">教育年限：</label>
                <input type="text" id="Limyear"  name="Limyear" required >
        </p>
        <p>
                <label for="phone">电话：</label>
                <input type="text" id="phone"  name="phone" required >
        </p>
        <p>
                <label for="email">邮箱：</label>
                <input type="email" id="email"  name="email" required >
        </p>
        <p>
                <label for="Brief">个人简介：</label>
                <input type="text" id="Brief"  name="Brief" required >
        </p>
        <input type="submit" value="submit">
    </form>
   
    <script src="/static/JS/jquery-3.4.1.js"></script>
</body>
</html>