<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>修改个人信息</title>
</head>
<body>
    <form action="/User/UResult/" method="post">
        {% csrf_token %}
	<h1 align="center">请输入您要修改的个人信息</h1>
        PhoneNumber:&nbsp;<input type="text" name="PhoneNumber"><br></br>
        Email:&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;<input type="text" name="Email"><br></br>
        LDirection:&emsp;&emsp;&nbsp;<input type="text" name="LDirection"><br></br>
        FeeRange:&emsp;&emsp;&nbsp;&nbsp;<input type="text" name="FeeRange"><br></br>
        Area:&emsp;&emsp;&emsp;&emsp;&emsp;<input type="text" name="Area"><br></br>
        <input type="submit" value="确认修改">
    </form>
</body>
</html>